<div layout="row" layout-wrap layout-padding="10">

  <div flex-gt-sm="50" flex-md="50" flex-sm="100" ng-include="'/views/portal/settings/cards/orders_pendents.html'" layout="column" layout-align="start start" flex align="center">
  </div>

  <div flex-gt-sm="50" flex-md="50" flex-sm="100"ng-include="'/views/portal/settings/cards/fixa.html'" layout="column" layout-align="start start" flex align="center">
  </div>

  <div flex-gt-sm="50" flex-md="50" flex-sm="100" ng-include="'/views/portal/settings/cards/alert.html'" layout="column" layout-align="start start" flex>
  </div>
  <div flex-gt-sm="50" flex-md="50" flex-sm="100" ng-include="'/views/portal/settings/cards/activedAlerts.html'" layout="column" layout-align="start start" flex>
  </div>

  <div flex-gt-sm="50" flex-md="50" flex-sm="100" ng-include="'/views/portal/settings/cards/dataSwing.html'" layout="column" layout-align="start start" flex>
  </div>
  <div flex-gt-sm="50" flex-md="50" flex-sm="100" ng-include="'/views/portal/settings/cards/notification.html'" layout="column" layout-align="start start" flex>
  </div>

</div>